<!--
ing_farias@live.com
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Administrador de Usuarios</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="images/x-icon" href="static/images/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/owl.carousel.css">
    <link rel="stylesheet" href="static/css/adminpagecss/owl.theme.css">
    <link rel="stylesheet" href="static/css/adminpagecss/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="static/css/adminpagecss/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="static/css/adminpagecss/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="static/js/jquery.bootgrid.min.js"></script>
    <!-- modernizr JS
		============================================ -->
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- modernizr JS
		============================================ -->
    <script src="static/js/vendor/administadorusuarios.js"></script>
</head>


<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Header menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="menu.mvc"><img class="main-logo" src="static/images/logo/logocow.png" alt="" /></a>
                <strong><a href="login.mvc"><img src="static/images/logo/logocow.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">

                        <li>
                            <a title="estadosfinancieros" href="/SGDADMIN/cargaarchivos" aria-expanded="false"><span class="mini-click-non">CARGA DE ARCHIVOS</span></a>
                        </li>

                         <li>
                            <a title="reporteventas" href="/SGDADMIN/administradorusuarios" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">ADMINISTRACION DE <br>USUARIOS</span></a>
                        </li>      
                          
                       
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Header menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                            <a href="index.html"><img class="main-logo" src="static/images/logo/logocow.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
					
					</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">

                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															
															<span class="admin-name">Usuario</span>
															
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    
                                                        <li><a href="#"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
           <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a data-toggle="collapse" data-target="#Charts" >Documentacion Legal<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href="escrituras">Escrituras</a></li>
                                                <li><a href="identificaciones">Identificaciones</a></li>
                                                <li><a href="rfc">RFC</a></li>
                                                <li><a href="fiel">Fiel</a></li>
                                                <li><a href="sellodigital">Sello Digital</a></li>
                                                <li><a href="avisoprivacidad">Aviso de Privacidad</a></li>
                                                <li><a href="cumnplimientoobligaciones">Cumplimiento de Obligaciones</a></li>
                                                <li><a href="comprobantedomicilio">Comprobante de Domicilio</a></li>
                                                <li><a href="asamblea">Asamblea Ordinaria Aumento Capital</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="events.html">Estados Financieros</a></li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" >Contratos Firmados<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href="financieros">Financieros</a>
                                                </li>
                                                <li><a href="proveedores">Proveedores</a>
                                                </li>
                                                <li><a href="clientes">Clientes</a>
                                                </li>
                                                <li><a href="personal">Personal</a>
                                                </li>
                                            </ul>
                                        </li>
                                         <li><a href="reporteventas">Reporte de Ventas Mensual</a></li>
                                         <li><a href="sagarpa">Sagarpa</a></li>
                                         <li><a href="presentacionescorporativas">Presentaciones Corporativas</a></li>
                                        <li><a data-toggle="collapse" data-target="#demopro" >Gobierno Corporativo<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li><a href="asambleaaccionistas">Asamblea de Accionistas</a>
                                                </li>
                                                <li><a href="consejo">Consejo</a>
                                                </li>
                                                <li><a href="comites">Comites</a>
                                                </li>
                                                <li><a href="protocoloaccionistas">Protocolo de Accionistas</a>
                                                </li>
                                                <li><a href="reglasoperacion">Reglas de Operacion</a>
                                                </li>
                                                <li><a href="plandetrabajo">Plan de Trabajo Anual</a>
                                                </li>
                                                <li><a href="actividadesmensuales">Informe de Actividades Mensuales</a>
                                                </li>
                                            </ul>
                                        </li>
                                         <li><a href="facturaactivos">Facturas de Activos</a></li>
                                         <li><a href="seguros">Seguros</a></li>
                                         <li><a href="avaluoactivos">Avaluo de Activos</a></li>
                                         <li><a href="estructuraorganigrama">Estructura de Organigramas</a></li>
                                        <li><a data-toggle="collapse" data-target="#democrou" href="#">Informacion de la Industria<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li><a href="estudioseconomicos">Estudios Economicos</a>
                                                </li>
                                                <li><a href="precioganadoenpie">Precio KG Ganado en Pie</a>
                                                </li>
                                                <li><a href="preciocarnecanal">Precio KG Carne en Canal</a>
                                                </li>
                                                <li><a href="precioalimento">Precio Alimento</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demolibra" href="#">Administracion de Usuarios <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li><a href="altausuarios">Alta de Usuarios</a>
                                                </li>
                                                <li><a href="modificausuarios">Moficacion de Usuarios</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                         
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        
        <div class="breadcome-area">
            <table border="1">
                <thead>
                    <tr>
                        <th th:text="nombre" />
                        <th th:text="ap_paterno" />
                        <th th:text="ap_materno" />
                        <th th:text="estatus" />
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario, iStat : ${loginPage.content}"
                        th:style="${iStat.odd}? 'font-weight: bold;'"
                        th:alt-title="${iStat.even}? 'even' : 'odd'">
                        <td th:text="${usuario.nombre1} +' '+ ${usuario.nombre2}" />
                        <td th:text="${usuario.apellido_paterno}" />
                        <td th:text="${usuario.apellido_materno}" />
                        <td th:text="${usuario.estatus}" />
                     </tr>
                </tbody>
            </table>-->
            <div>
                <h4>Usuarios</h4>
                <div class="add-product">
                    <a href="add-department.html">Add Departments</a>
                </div>
                <div class="asset-inner">
                <table id="grid-data" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="id" class="text-left"><a href="javascript:void(0);" class="column-header-anchor sortable"><span class="text">nombre</span><span class="icon fa"></span></a></th>
                            <th data-column-id="id" class="text-left"><a href="javascript:void(0);" class="column-header-anchor sortable"><span class="text">ap.paterno</span><span class="icon fa"></span></a></th>
                            <th data-column-id="id" class="text-left"><a href="javascript:void(0);" class="column-header-anchor sortable"><span class="text">ap.materno</span><span class="icon fa"></span></a></th>
                            <th data-column-id="id" class="text-left"><a href="javascript:void(0);" class="column-header-anchor sortable"><span class="text">estatus</span><span class="icon fa"></span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario, iStat : ${loginPage.content}"
                            th:style="${iStat.odd}? 'font-weight: bold;'"
                            th:alt-title="${iStat.even}? 'even' : 'odd'">
                            <td th:text="${usuario.nombre1} +' '+ ${usuario.nombre2}" />
                            <td th:text="${usuario.apellido_paterno}" />
                            <td th:text="${usuario.apellido_materno}" />
                            <td >
                                <button th:style="${usuario.estatus}=='1'? 'pd-setting':'ds-setting'">Active</button>
                            </td>
                         </tr>
                    </tbody>
                </table>
                </div>
                <div class="custom-pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" th:if="${loginPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                            <li class="page-item"><a th:href="@{/administradorusuarios(size=${loginPage.size}, page=${pageNumber})}" 
                            th:text=${pageNumber} th:class="page-link"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
<!--            <nav aria-label="Page navigation example">
                <ul class="pagination" th:if="${loginPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                    <li class="page-item"><a th:href="@{/administradorusuarios(size=${loginPage.size}, page=${pageNumber})}" 
                    th:text=${pageNumber} th:class="page-link"></a>
                    </li>
                </ul>
            </nav>-->
<!--            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>-->
        </div>

        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright 2019. All rights reserved. Agro Parque Ganadero del Sureste <a href="https://www.agroparquesureste.com">AgroparqueSureste.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="static/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="static/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="static/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="static/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="static/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="static/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="static/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="static/js/counterup/jquery.counterup.min.js"></script>
    <script src="static/js/counterup/waypoints.min.js"></script>
    <script src="static/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="static/js/metisMenu/metisMenu.min.js"></script>
    <script src="static/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="static/js/morrisjs/raphael-min.js"></script>
    <script src="static/js/morrisjs/morris.js"></script>
    <script src="static/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="static/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="static/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="static/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="static/js/calendar/moment.min.js"></script>
    <script src="static/js/calendar/fullcalendar.min.js"></script>
    <script src="static/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="static/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="static/js/main.js"></script>
</body>

</html>