<!--
ing_farias@live.com
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Menu Administrador</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="images/x-icon" href="static/images/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/owl.carousel.css">
    <link rel="stylesheet" href="static/css/adminpagecss/owl.theme.css">
    <link rel="stylesheet" href="static/css/adminpagecss/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="static/css/adminpagecss/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="static/css/adminpagecss/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Header menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="menu.mvc"><img class="main-logo" src="static/images/logo/logocow.png" alt="" /></a>
                <strong><a href="login.mvc"><img src="static/images/logo/logocow.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a class="has-arrow" href="index.html">
								  
                                                                   <span class="mini-click-non">Documentacion <br> Legal</span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="escrituras" href="escrituras"><span class="mini-sub-pro">Escrituras</span></a></li>
                                <li><a title="identificaciones" href="identificaciones.mvc"><span class="mini-sub-pro">Identificaciones</span></a></li>
                                <li><a title="rfc" href="rfc"><span class="mini-sub-pro">RFC</span></a></li>
                                <li><a title="fiel" href="fiel"><span class="mini-sub-pro">Fiel</span></a></li>
                                <li><a title="sellodigital" href="sellodigital"><span class="mini-sub-pro">Sello <br> Digital</span></a></li>
                                <li><a title="avisoprivacidad" href="avisoprivacidad"><span class="mini-sub-pro">Aviso de <br>Privacidad</span></a></li>
                                <li><a title="cimplimientoobligaciones" href="cumplimientoobligaciones"><span class="mini-sub-pro">Cumplimiento de<br> Obligaciones</span></a></li>
                                <li><a title="comprobantedomicilio" href="comprobantedomicilio"><span class="mini-sub-pro">Comprobante de <br>Domicilio</span></a></li>
                                <li><a title="asamblea" href="asamblea"><span class="mini-sub-pro">Asamblea <br>Ordinaria<br> Aumento<br> Capital</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="estadosfinancieros" href="estadosfinancieros" aria-expanded="false"><span class="mini-click-non">Estados Financieros</span></a>
                        </li>
<li>
                            <a class="has-arrow" aria-expanded="false">
                              
                                <span class="mini-click-non">Contratos Firmados</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="financieros" href="financieros"><span class="mini-sub-pro">Financieros</span></a></li>
                                <li><a title="proveedores" href="proveedores"><span class="mini-sub-pro">Proveedores</span></a></li>
                                <li><a title="clientes" href="clientes"><span class="mini-sub-pro">Clientes</span></a></li>
                                <li><a title="personal Profile" href="personal"><span class="mini-sub-pro">Personal</span></a></li>
                            </ul>
                        </li>
                         <li>
                            <a title="reporteventas" href="reporteventas" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Reporte de <br>Ventas Mensuales</span></a>
                        </li>       
                           <li>
                            <a title="sagarpa" href="sagarpa" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Sagarpa</span></a>
                        </li>   
                          <li>
                            <a title="presentacionescorporativas" href="presentacionescorporativas" aria-expanded="false"><span aria-hidden="true"></span> <span class="mini-click-non">Presentaciones <br>Corporativas</span></a>
                        </li>   
                        <li>
                            <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Gobierno Corporativo</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="asambleaaccionista" href="asambleaaccionistas"><span class="mini-sub-pro">Asamblea de Accionistas</span></a></li>
                                <li><a title="consejo" href="consejo"><span class="mini-sub-pro">Consejo</span></a></li>
                                <li><a title="comites" href="comites"><span class="mini-sub-pro">Comites</span></a></li>
                                <li><a title="protocoloaccionistas" href="protocoloaccionistas"><span class="mini-sub-pro">Protocolo de <br>Accionistas</span></a></li>
                                <li><a title="reglasoperacion" href="reglasoperacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>
                                 <li><a title="plandetrabajoanual" href="plandetrabajoanual"><span class="mini-sub-pro">Plar de <br>Trabajo Anual</span></a></li>
                                  <li><a title="informedeactividades" href="informedeactividades"><span class="mini-sub-pro">Informe de <br>Actividades Mensuales</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="facturasdeactivos" href="facturadeactivos" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Facturas de <br>Activos</span></a>
                        </li>  
                         <li>
                            <a title="seguros" href="seguros" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Seguros</span></a>
                        </li>  
                       <li>
                            <a title="avaluodeactivos" href="avaluodeactivos" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Avaluo de <br>Activos</span></a>
                        </li>  
                        <li>
                            <a title="estructuraorganigrama" href="estructuraorganigrama" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Estructura de <br>Organigramas</span></a>
                        </li>  
                        
                         <li>
                            <a class="has-arrow" href="all-courses.html" aria-expanded="false"> <span class="mini-click-non">Informacion de <br>la Industria</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="estudioseconomicos" href="/estudioseconomicos"><span class="mini-sub-pro">Estudios<br> Economicos</span></a></li>
                                <li><a title="ganadoenpie" href="ganadoenpie"><span class="mini-sub-pro">Precio KG<br> Ganado en Pie</span></a></li>
                                <li><a title="carneencanal" href="carneencanal"><span class="mini-sub-pro">Precio KG<br> Carne en Canal</span></a></li>
                                <li><a title="precioalimento" href="precioalimento"><span class="mini-sub-pro">Precio<br> Alimento</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-courses.html" aria-expanded="false"> <span class="mini-click-non">Administracion de<br> Usuarios</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="altausuarios" href="altausuarios"><span class="mini-sub-pro">Alta de<br> Usuarios</span></a></li>
                                <li><a title="modificausuarios" href="modificausuarios"><span class="mini-sub-pro">Moficacion de<br> Usuarios</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Header menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                            <a href="index.html"><img class="main-logo" src="static/images/logo/logocow.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
					
					</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">

                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															
															<span class="admin-name">Usuario</span>
															
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    
                                                        <li><a href="#"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
           <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a data-toggle="collapse" data-target="#Charts" >Documentacion Legal<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href="escrituras">Escrituras</a></li>
                                                <li><a href="identificaciones">Identificaciones</a></li>
                                                <li><a href="rfc">RFC</a></li>
                                                <li><a href="fiel">Fiel</a></li>
                                                <li><a href="sellodigital">Sello Digital</a></li>
                                                <li><a href="avisoprivacidad">Aviso de Privacidad</a></li>
                                                <li><a href="cumnplimientoobligaciones">Cumplimiento de Obligaciones</a></li>
                                                <li><a href="comprobantedomicilio">Comprobante de Domicilio</a></li>
                                                <li><a href="asamblea">Asamblea Ordinaria Aumento Capital</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="events.html">Estados Financieros</a></li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" >Contratos Firmados<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href="financieros">Financieros</a>
                                                </li>
                                                <li><a href="proveedores">Proveedores</a>
                                                </li>
                                                <li><a href="clientes">Clientes</a>
                                                </li>
                                                <li><a href="personal">Personal</a>
                                                </li>
                                            </ul>
                                        </li>
                                         <li><a href="reporteventas">Reporte de Ventas Mensual</a></li>
                                         <li><a href="sagarpa">Sagarpa</a></li>
                                         <li><a href="presentacionescorporativas">Presentaciones Corporativas</a></li>
                                        <li><a data-toggle="collapse" data-target="#demopro" >Gobierno Corporativo<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li><a href="asambleaaccionistas">Asamblea de Accionistas</a>
                                                </li>
                                                <li><a href="consejo">Consejo</a>
                                                </li>
                                                <li><a href="comites">Comites</a>
                                                </li>
                                                <li><a href="protocoloaccionistas">Protocolo de Accionistas</a>
                                                </li>
                                                <li><a href="reglasoperacion">Reglas de Operacion</a>
                                                </li>
                                                <li><a href="plandetrabajo">Plan de Trabajo Anual</a>
                                                </li>
                                                <li><a href="actividadesmensuales">Informe de Actividades Mensuales</a>
                                                </li>
                                            </ul>
                                        </li>
                                         <li><a href="facturaactivos">Facturas de Activos</a></li>
                                         <li><a href="seguros">Seguros</a></li>
                                         <li><a href="avaluoactivos">Avaluo de Activos</a></li>
                                         <li><a href="estructuraorganigrama">Estructura de Organigramas</a></li>
                                        <li><a data-toggle="collapse" data-target="#democrou" href="#">Informacion de la Industria<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li><a href="estudioseconomicos">Estudios Economicos</a>
                                                </li>
                                                <li><a href="precioganadoenpie">Precio KG Ganado en Pie</a>
                                                </li>
                                                <li><a href="preciocarnecanal">Precio KG Carne en Canal</a>
                                                </li>
                                                <li><a href="precioalimento">Precio Alimento</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demolibra" href="#">Administracion de Usuarios <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li><a href="altausuarios">Alta de Usuarios</a>
                                                </li>
                                                <li><a href="modificausuarios">Moficacion de Usuarios</a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                         
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    
      <div class="container" style="margin-top: 30px">
    <div class="card">
        
        <div class="jumbotron">
            <h1 style="text-align: center;">Carga de Acta Constitutiva</h1>
        </div>
        <form method="post" th:action="@{/upload}" enctype="multipart/form-data" id="fileUploadForm" class="container">
            
            <br>
                <br>
            
            <div class="form-group">
                <label class="custom-file" id="customFile">
                    <h1 style="text-align: center;">Seleccione el Año</h1>
                       <select name="year" style="width: 100%">
                            <option value="2017">2017</option>
                             <option value="2018">2018</option>
                             <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>   
                     <h1 style="text-align: center;">Seleccione el Mes</h1>
                     <select name="month" style="width: 100%">
                            <option value="enero">enero</option>
                             <option value="febrero">febrero</option>
                             <option value="marzo">marzo</option>
                             <option value="abril">abril</option>
                             <option value="mayo">mayo</option>
                               <option value="junio">junio</option>
                             <option value="julio">julio</option>
                             <option value="agosto">agosto</option>
                             <option value="septiembre">septiembre</option>
                               <option value="octubre">octubre</option>
                             <option value="noviembre">noviembre</option>
                             <option value="diciembre">diciembre</option>                            
                    </select>  
                      <h1 style="text-align: center;">Escriba la fecha</h1>
                     <input type="text" name="date" value="fecha">
                         
                      <h1 style="text-align: center;">Seleccione el file</h1>
                    <input type="file" class="custom-file-input" name="file" aria-describedby="fileHelp">
                    <span class="custom-file-control form-control-file"></span>
                </label>
            </div>
            <div style="margin-bottom: 10px">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </form>
    </div>
</div>
        
        
        
        
        
        
        
        
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright 2019. All rights reserved. Agro Parque Ganadero del Sureste <a href="https://www.agroparquesureste.com">AgroparqueSureste.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="static/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="static/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="static/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="static/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="static/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="static/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="static/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="static/js/counterup/jquery.counterup.min.js"></script>
    <script src="static/js/counterup/waypoints.min.js"></script>
    <script src="static/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="static/js/metisMenu/metisMenu.min.js"></script>
    <script src="static/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="static/js/morrisjs/raphael-min.js"></script>
    <script src="static/js/morrisjs/morris.js"></script>
    <script src="static/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="static/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="static/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="static/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="static/js/calendar/moment.min.js"></script>
    <script src="static/js/calendar/fullcalendar.min.js"></script>
    <script src="static/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="static/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="static/js/main.js"></script>
</body>

</html>