    <nav id="dropdown">
        <ul class="mobile-menu-nav">
            <li><a data-toggle="collapse" data-target="#Charts" >Documentacion Legal<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <ul class="collapse dropdown-header-top">
                    <li><a href="cargaarchivos?direccion=escrituras">Escrituras</a></li>
                    <li><a href="identificaciones">Identificaciones</a></li>
                    <li><a href="rfc">RFC</a></li>
                    <li><a href="fiel">Fiel</a></li>
                    <li><a href="sellodigital">Sello Digital</a></li>
                    <li><a href="avisoprivacidad">Aviso de Privacidad</a></li>
                    <li><a href="cumnplimientoobligaciones">Cumplimiento de Obligaciones</a></li>
                    <li><a href="comprobantedomicilio">Comprobante de Domicilio</a></li>
                    <li><a href="asamblea">Asamblea Ordinaria Aumento Capital</a></li>
                </ul>
            </li>
            <li><a href="events.html">Estados Financieros</a></li>
            <li><a data-toggle="collapse" data-target="#demoevent" >Contratos Firmados<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <ul id="demoevent" class="collapse dropdown-header-top">
                    <li><a href="financieros">Financieros</a>
                    </li>
                    <li><a href="proveedores">Proveedores</a>
                    </li>
                    <li><a href="clientes">Clientes</a>
                    </li>
                    <li><a href="personal">Personal</a>
                    </li>
                </ul>
            </li>
            <li><a href="reporteventas">Reporte de Ventas Mensual</a></li>
            <li><a href="sagarpa">Sagarpa</a></li>
            <li><a href="presentacionescorporativas">Presentaciones Corporativas</a></li>
            <li><a data-toggle="collapse" data-target="#demopro" >Gobierno Corporativo<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <ul id="demopro" class="collapse dropdown-header-top">
                    <li><a href="asambleaaccionistas">Asamblea de Accionistas</a>
                    </li>
                    <li><a href="consejo">Consejo</a>
                    </li>
                    <li><a href="comites">Comites</a>
                    </li>
                    <li><a href="protocoloaccionistas">Protocolo de Accionistas</a>
                    </li>
                    <li><a href="reglasoperacion">Reglas de Operacion</a>
                    </li>
                    <li><a href="plandetrabajo">Plan de Trabajo Anual</a>
                    </li>
                    <li><a href="actividadesmensuales">Informe de Actividades Mensuales</a>
                    </li>
                </ul>
            </li>
            <li><a href="facturaactivos">Facturas de Activos</a></li>
            <li><a href="seguros">Seguros</a></li>
            <li><a href="avaluoactivos">Avaluo de Activos</a></li>
            <li><a href="estructuraorganigrama">Estructura de Organigramas</a></li>
            <li><a data-toggle="collapse" data-target="#democrou" href="#">Informacion de la Industria<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <ul id="democrou" class="collapse dropdown-header-top">
                    <li><a href="estudioseconomicos">Estudios Economicos</a>
                    </li>
                    <li><a href="cargaarchivos/precioganadoenpie">Precio KG Ganado en Pie</a>
                    </li>
                    <li><a href="preciocarnecanal">Precio KG Carne en Canal</a>
                    </li>
                    <li><a href="precioalimento">Precio Alimento</a>
                    </li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-target="#demolibra" href="#">Administracion de Usuarios <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <ul id="demolibra" class="collapse dropdown-header-top">
                    <li><a href="altausuarios">Alta de Usuarios</a>
                    </li>
                    <li>
                        <a href="administradorusuarios">Moficacion de Usuarios</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>