<nav id="sidebar" class="">
            <div class="sidebar-header">                
                <a href="/SGDADMIN/menu"><img class="main-logo" src="static/images/logo/logocow.png" alt="" /></a>
                <strong><a href="login.mvc"><img src="static/images/logo/logocow.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                            <li>
                            <a href="administradorusuarios" aria-expanded="false"><span aria-hidden="true"></span> <span class="mini-click-non">Aministrador de<br>Usuarios</span></a>
                        </li>
                              <li>
                            <a href="listaarchivos" aria-expanded="false"><span aria-hidden="true"></span> <span class="mini-click-non">Descarga de<br>Archivos</span></a>
                        </li>
                        <li>

                            <a class="has-arrow" href="index.html">

                                <span class="mini-click-non">Documentacion <br> Legal</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Escrituras</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Acta Constitutiva"><span class="mini-sub-pro">Acta Constitutiva</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Poderes"><span class="mini-sub-pro">Poderes</span></a></li>
                                         <li><a href="cargaarchivos?direccion=Acta Asamblea"><span class="mini-sub-pro">Acta Asamblea</span></a></li> 
                                    </ul>
                                </li> 
                                 <li><a href="cargaarchivos?direccion=Identificaciones"><span class="mini-sub-pro">Identificaciones</span></a></li>
                                <li><a href="cargaarchivos?direccion=RFC"><span class="mini-sub-pro">RFC</span></a></li>
                                <li><a href="cargaarchivos?direccion=Fiel"><span class="mini-sub-pro">Fiel</span></a></li>
                                <li><a href="cargaarchivos?direccion=Sello Digital"><span class="mini-sub-pro">Sello <br> Digital</span></a></li>
                                <li><a href="cargaarchivos?direccion=Aviso Privacidad"><span class="mini-sub-pro">Aviso de <br>Privacidad</span></a></li>
                                <li><a href="cargaarchivos?direccion=Cumplimiento de Obligaciones"><span class="mini-sub-pro">Cumplimiento de<br> Obligaciones</span></a></li>
                                <li><a href="cargaarchivos?direccion=Comprobante de Domicilio"><span class="mini-sub-pro">Comprobante de <br>Domicilio</span></a></li>
                                  <li><a href="cargaarchivos?direccion=Aumentos Capital"><span class="mini-sub-pro">Aumentos Capital</span></a></li> 
                            </ul>
                        </li>
                        <li>
                            <a href="cargaarchivos?direccion=Estados Financieros" aria-expanded="false"><span class="mini-click-non">Estados Financieros</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false">

                                <span class="mini-click-non">Contratos Firmados</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Contratos Firmados Financieros"><span class="mini-sub-pro">Financieros</span></a></li>
                                <li><a href="cargaarchivos?direccion=Contratos Firmados Proveedores"><span class="mini-sub-pro">Proveedores</span></a></li>
                                <li><a href="cargaarchivos?direccion=Contratos Firmados Clientes"><span class="mini-sub-pro">Clientes</span></a></li>
                                <li><a href="cargaarchivos?direccion=Contratos Firmados Personal"><span class="mini-sub-pro">Personal</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="cargaarchivos?direccion=Reporte de Ventas" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Reporte de <br>Ventas Mensuales</span></a>
                        </li>  
                        <li>
                            <a class="has-arrow" aria-expanded="false">

                                <span class="mini-click-non">Sagarpa</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Sagarpa Documentos de Solicitud"><span class="mini-sub-pro">Documento Solicitud</span></a></li>
                                <li><a href="cargaarchivos?direccion=Sagarpa Deposito"><span class="mini-sub-pro">Deposito</span></a></li>
                                <li><a href="cargaarchivos?direccion=Sagarpa Comprobante de Pagos"><span class="mini-sub-pro">Comprobante de <br>Pagos</span></a></li>
                                <li><a href="cargaarchivos?direccion=Sagarpa Reportes Mensuales"><span class="mini-sub-pro">Reportes Mensuales</span></a></li>
                                <li><a href="cargaarchivos?direccion=Sagarpa Escritos Enviados"><span class="mini-sub-pro">Escritos Enviados</span></a></li>
                                <li><a href="cargaarchivos?direccion=Sagarpa Respuestas Sagarpa"><span class="mini-sub-pro">Respuestas</span></a></li>
                            </ul>  
                        </li> 
                            <li>
                            <a class="has-arrow" aria-expanded="false">

                                <span class="mini-click-non">Presentaciones<br>Corporativas</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Presentaciones Tarjeta Ejecutiva"><span class="mini-sub-pro">Tarjeta Ejecutiva</span></a></li>
                                <li><a href="cargaarchivos?direccion=Presentaciones Justificacion(Espanol)"><span class="mini-sub-pro">Justificacion(Espanol)</span></a></li>
                                <li><a href="cargaarchivos?direccion=Presentaciones Justificacion(Ingles)"><span class="mini-sub-pro">Justificacion(Ingles)</span></a></li>
                            </ul>  
                        </li>  
                        
                        <li>
                            <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Gobierno Corporativo</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                 <li><a href="cargaarchivos?direccion=Gobierno Nuestro Gobierno"><span class="mini-sub-pro">Nuestro<br>Gobierno</span></a></li>
                                <li> 
                                    <li><a href="cargaarchivos?direccion=Gobierno Asamblea de Accionistas"><span class="mini-sub-pro">Asamblea de<br>Accionistas</span></a></li>
                                </li> 
                                <li><a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Consejo de<br>Administracion</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Consejo de Administracion Sesiones"><span class="mini-sub-pro">Sesiones</span></a></li>
                                        
                                         <li><a href="cargaarchivos?direccion=Consejo de Administracion Reglas de Operacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>       
                                        <li><a href="cargaarchivos?direccion=Consejo de Administracion Curriculum Miembros"><span class="mini-sub-pro">Curriculum<br>Miembros</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Consejo de Administracion Cartas de Confidencialidad"><span class="mini-sub-pro">Cartas de<br>Confidencialidad</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Consejo de Administracion Plan Anual Sesiones"><span class="mini-sub-pro">Plan Anual<br>Sesiones</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Consejo de Administracion Reportes Trimestrales"><span class="mini-sub-pro">Reportes Trimestrales<br>al Consejo</span></a></li>
                                    </ul>
                                </li>
                                 <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Comite de<br>Inversiones</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                       
                                        <li><a href="cargaarchivos?direccion=Comite Inversiones Sesiones"><span class="mini-sub-pro">Sesiones</span></a></li>
                                        
                                        <li><a href="cargaarchivos?direccion=Comite de Inversiones Reglas de Operacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite de Inversiones Curriculum Miembros"><span class="mini-sub-pro">Curriculum<br>Miembros</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite de Inversiones Cartas de Confidencialidad"><span class="mini-sub-pro">Cartas de<br>Confidencialidad</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite de Inversiones Plan Anual Sesiones"><span class="mini-sub-pro">Plan Anual<br>Sesiones</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite de Inversiones Reportes Trimestrales"><span class="mini-sub-pro">Reportes Trimestrales<br>al Consejo</span></a></li>
                                    </ul>
                                </li>  
                                  <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Comite<br>Engorda</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                       
                                          <li><a href="cargaarchivos?direccion=Comite Engorda Sesiones"><span class="mini-sub-pro">Sesiones</span></a></li>
                                        
                                        
                                        <li><a href="cargaarchivos?direccion=Comite Engorda Reglas de Operacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite Engorda Curriculum Miembros"><span class="mini-sub-pro">Curriculum<br>Miembros</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite Engorda Cartas de Confidencialidad"><span class="mini-sub-pro">Cartas de<br>Confidencialidad</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite Engorda Plan Anual Sesiones"><span class="mini-sub-pro">Plan Anual<br>Sesiones</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite Engorda Reportes Trimestrales"><span class="mini-sub-pro">Reportes Trimestrales<br>al Consejo</span></a></li>
                                    </ul>
                                </li> 
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Comite<br>Comercial</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                       
                                        <li><a href="cargaarchivos?direccion=Comite Comercial Sesiones"><span class="mini-sub-pro">Sesiones</span></a></li>
                                        
                                        <li><a href="cargaarchivos?direccion=Comite Comercial Reglas de Operacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>
                                     
                                        <li><a href="cargaarchivos?direccion=Comite Comercial Curriculum Miembros"><span class="mini-sub-pro">Curriculum<br>Miembros</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite Comercial Cartas de Confidencialidad"><span class="mini-sub-pro">Cartas de<br>Confidencialidad</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite Comercial Plan Anual Sesiones"><span class="mini-sub-pro">Plan Anual<br>Sesiones</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Comite Comercial Reportes Trimestrales"><span class="mini-sub-pro">Reportes Trimestrales<br>al Consejo</span></a></li>
                                    </ul>
                                </li>  
                                
                                <li><a href="cargaarchivos?direccion=Gobierno Corporativo Enlaces Corporativo"><span class="mini-sub-pro">Enlaces<br>Corporativos</span></a></li>
                                 
                                 
                                 
                                <li><a href="cargaarchivos?direccion=Gobierno Corporativo Protocolo de Accionistas"><span class="mini-sub-pro">Protocolo de <br>Accionistas</span></a></li>
                               
                                
                                 <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Reglas de<br>Operacion</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Asamblea de<br>Accionistas</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Reglas Asamblea de Accionistas Convocatoria"><span class="mini-sub-pro">Convocatoria</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Asamblea de Accionistas Minuta"><span class="mini-sub-pro">Minuta</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Asamblea de Accionistas Orden del Dia"><span class="mini-sub-pro">Orden del dia</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Asamblea de Accionistas Presentacion de Informacion"><span class="mini-sub-pro">Presentacion de<br>Informacion</span></a></li>   
                                    </ul>
                                        </li>
                                      <li><a href="cargaarchivos?direccion=Reglas Consejo Administracion"><span class="mini-sub-pro">Consejo de<br>Administracion</span></a></li>   
                                      <li><a href="cargaarchivos?direccion=Reglas Consejo Administracion"><span class="mini-sub-pro">Enlaces <br>Corporativos</span></a></li>    
                                      <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Comite de<br>Inversiones</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Convocatoria"><span class="mini-sub-pro">Convocatoria</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Minuta"><span class="mini-sub-pro">Minuta</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Reglas de Operacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Orden del Dia"><span class="mini-sub-pro">Orden del dia</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Presentacion de Informacion"><span class="mini-sub-pro">Presentacion de<br>Informacion</span></a></li>  
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Curriculum Miembros"><span class="mini-sub-pro">Curriculum<br>Miembros</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Cartas de Confidencialidad"><span class="mini-sub-pro">Cartas de<br>Confidencialidad</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Plan Anual Sesiones"><span class="mini-sub-pro">Plan Anual<br>Sesiones</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite de Inversiones Reportes Trimestrales"><span class="mini-sub-pro">Reportes Trimestrales<br>al Consejo</span></a></li>
                                    </ul>
                                </li>     
                                 <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Comite<br>Engorda</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Convocatoria"><span class="mini-sub-pro">Convocatoria</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Minuta"><span class="mini-sub-pro">Minuta</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Reglas de Operacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Orden del Dia"><span class="mini-sub-pro">Orden del dia</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Presentacion de Informacion"><span class="mini-sub-pro">Presentacion de<br>Informacion</span></a></li>  
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Curriculum Miembros"><span class="mini-sub-pro">Curriculum<br>Miembros</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Cartas de Confidencialidad"><span class="mini-sub-pro">Cartas de<br>Confidencialidad</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Plan Anual Sesiones"><span class="mini-sub-pro">Plan Anual<br>Sesiones</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Engorda Reportes Trimestrales"><span class="mini-sub-pro">Reportes Trimestrales<br>al Consejo</span></a></li>
                                    </ul>
                                </li>   
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Comite<br>Comercial</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Convocatoria"><span class="mini-sub-pro">Convocatoria</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Minuta"><span class="mini-sub-pro">Minuta</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Reglas de Operacion"><span class="mini-sub-pro">Reglas de <br>Operacion</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Orden del Dia"><span class="mini-sub-pro">Orden del dia</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Presentacion de Informacion"><span class="mini-sub-pro">Presentacion de<br>Informacion</span></a></li>  
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Curriculum Miembros"><span class="mini-sub-pro">Curriculum<br>Miembros</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Cartas de Confidencialidad"><span class="mini-sub-pro">Cartas de<br>Confidencialidad</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Plan Anual Sesiones"><span class="mini-sub-pro">Plan Anual<br>Sesiones</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Reglas Comite Comercial Reportes Trimestrales"><span class="mini-sub-pro">Reportes Trimestrales<br>al Consejo</span></a></li>
                                    </ul>
                                </li>                      
                                    </ul>
                                </li>  
                                
                                 <li><a href="cargaarchivos?direccion=Gobierno Corporativo Codigo de Etica"><span class="mini-sub-pro">Codigo de<br>Etica</span></a></li>
                                 <li><a href="calendario"><span class="mini-sub-pro">Calendario</span></a></li>
                                 <li><a href="cargaarchivos?direccion=Plan de Trabajo Anual"><span class="mini-sub-pro">Plan Anual</span></a></li>
                                <li><a href="cargaarchivos?direccion=Gobierno Corporativo Informe de Actividades"><span class="mini-sub-pro">Informe de <br>Actividades Mensuales</span></a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non"></span> <span class="mini-click-non">Proyecto Ejecutivo</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Terreno</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Estructura del Terreno"><span class="mini-sub-pro">Estructura del<br>Terreno</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo del Terreno"><span class="mini-sub-pro">Avaluo<br>Terreno</span></a></li>
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Proyecto</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                    <li><a href="cargaarchivos?direccion=Proyecto Entregado TIF 2000"><span class="mini-sub-pro">Proyecto Entregado<br>TIF2000</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Programa General de Necesidades"><span class="mini-sub-pro">Programa General<br>Necesidades</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Programa Particular de Necesidades"><span class="mini-sub-pro">Programa Particular<br>Necesidades</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Justificacion del Proyecto"><span class="mini-sub-pro">Justificacion del<br>Proyecto</span></a></li> 
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Estudios</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Estudios Mecanica de Suelos"><span class="mini-sub-pro">Estudio Mecanica<br>Suelos</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Estudio Impacto Ambiental"><span class="mini-sub-pro">Estudio Impacto<br>Ambiental</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Estudio Impacto Vial"><span class="mini-sub-pro">Estudio Impacto<br>Vial</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Factibilidad Servicio Energia Electrica"><span class="mini-sub-pro">Factibilidad Energia<br>Electrica</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Estudio Hidrologico"><span class="mini-sub-pro">Estudio Hidrologico</span></a></li>  
                                        <li><a href="cargaarchivos?direccion=Factibilidad de Uso de Suelo"><span class="mini-sub-pro">Factibilidad uso<br>Suelo</span></a></li>  
                                        <li><a href="cargaarchivos?direccion=Concesion de Aguas Nacionales"><span class="mini-sub-pro">Concesion Aguas<br>Nacionales</span></a></li>  
                                    </ul>
                                </li>

                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Planos</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Plano de Terreno Regional"><span class="mini-sub-pro">Plano Terreno<br>Regional</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Plano de Terreno Rural"><span class="mini-sub-pro">Plano Terreno<br>Rural</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Plano Topografico"><span class="mini-sub-pro">Plano<br>Topografico</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Justificacion del Terreno"><span class="mini-sub-pro">Justificacion del<br>Terreno</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Planos Infraestructura"><span class="mini-sub-pro">Planos<br>Infraestructura</span></a></li>  
                                        <li><a href="cargaarchivos?direccion=Layout"><span class="mini-sub-pro">Layout</span></a></li> 
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        
                        
                        
                        <li>
                            <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non"></span> <span class="mini-click-non">Facturas de <br>Activos</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Engorda</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Activos Engorda Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Engorda Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Engorda transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Engorda Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Activos Engorda Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Rastro Tif</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                    <li><a href="cargaarchivos?direccion=Activos Rastro Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Rastro Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Rastro transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Rastro Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Activos Rastro Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Sala de<br> Cortes</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Activos Cortes Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Cortes Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Cortes transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Cortes Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Activos Cortes Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>

                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Corporativo</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Activos Corporativo Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Corporativo Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Corporativo transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Activos Corporativo Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Activos Corporativo Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                            </ul>
                        </li>  
 
                        
                        
                        <li>
                            <a class="has-arrow" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Seguros</span></a>
                          <ul class="submenu-angle" aria-expanded="false">
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Engorda</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Seguros Engorda Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Engorda Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Engorda transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Engorda Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Seguros Engorda Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Rastro Tif</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                    <li><a href="cargaarchivos?direccion=Seguros Rastro Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Rastro Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Rastro transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Rastro Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Seguros Rastro Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Sala de<br> Cortes</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Seguros Cortes Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Cortes Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Cortes transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Cortes Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Seguros Cortes Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>

                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Corporativo</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Seguros Corporativo Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Corporativo Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Corporativo transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Seguros Corporativo Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Seguros Corporativo Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                            </ul>

                        </li> 

                        <li>
                            <a class="has-arrow" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Avaluo de<br>Activos</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li>
                                    <a href="editarcifras" aria-expanded="false"><span aria-hidden="true"></span> <span class="mini-click-non">Editar Cifras</span></a>
                                </li>   
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Engorda</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li><a href="cargaarchivos?direccion=Avaluo Engorda Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Engorda Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Engorda transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Engorda Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Avaluo Engorda Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Rastro Tif</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                    <li><a href="cargaarchivos?direccion=Avaluo Rastro Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Rastro Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Rastro transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Rastro Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Avaluo Rastro Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Sala de<br> Cortes</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Avaluo Cortes Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Cortes Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Cortes transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Cortes Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Avaluo Cortes Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>

                                <li> 
                                    <a class="has-arrow" aria-expanded="false"> <span class="mini-click-non">Corporativo</span></a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Avaluo Corporativo Inmuebles"><span class="mini-sub-pro">Inmuebles</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Corporativo Maquinaria"><span class="mini-sub-pro">Maquinaria y<br>Equipo</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Corporativo transporte"><span class="mini-sub-pro">Equipo de<br>Transporte</span></a></li>
                                        <li><a href="cargaarchivos?direccion=Avaluo Corporativo Mobiliario"><span class="mini-sub-pro">Mobiliario</span></a></li> 
                                        <li><a href="cargaarchivos?direccion=Avaluo Corporativo Computo"><span class="mini-sub-pro">Equipo de<br>Computo</span></a></li>  
                                    </ul>
                                </li>
                            </ul>

                        </li>  
                        <li>
                            <a href="cargaarchivos?direccion=Organigrama" aria-expanded="false"><span  aria-hidden="true"></span> <span class="mini-click-non">Estructura de <br>Organigramas</span></a>
                        </li>  

                        <li>
                            <a class="has-arrow" href="all-courses.html" aria-expanded="false"> <span class="mini-click-non">Informacion de <br>la Industria</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a href="cargaarchivos?direccion=Estudios Economicos"><span class="mini-sub-pro">Estudios<br> Economicos</span></a></li>
                                <li><a href="cargaarchivos?direccion=Precio Ganado en Pie"><span class="mini-sub-pro">Precio KG<br> Ganado en Pie</span></a></li>
                                <li><a href="cargaarchivos?direccion=Precio Carne en Canal"><span class="mini-sub-pro">Precio KG<br> Carne en Canal</span></a></li>
                                <li><a href="cargaarchivos?direccion=Precio Alimento"><span class="mini-sub-pro">Precio<br> Alimento</span></a></li>
                                <li><a href="cargaarchivos?direccion=Censo Ganadero Agssa"><span class="mini-sub-pro">Censo <br>Ganadero AGSSA</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
</nav>
