<!--
ing.jorge.eduardo.p@gmail.com
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    
    <head>
        <title>SGD</title> 
        <link rel="stylesheet" type="text/css" href="css/vital.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="images/x-icon" href="static/images/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/owl.carousel.css">
    <link rel="stylesheet" href="static/css/adminpagecss/owl.theme.css">
    <link rel="stylesheet" href="static/css/adminpagecss/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="static/css/adminpagecss/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="static/css/adminpagecss/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="static/css/adminpagecss/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>            
        <script th:src="@{js/jquery/jquery-3.3.1.js}"></script>
        <script th:src="@{js/view/descargageneral.js}"></script>        
        <script th:src="@{js/view/menu.js}"></script>        
        
    </head>

    <body>
        <div class="contenedor">
            <div class="row header bg-transparent">
                <div>
                    <div class="col-1-2 padding align-left">
                        <p>
                            <h2> Bienvenido,<span th:text="${#authentication.getPrincipal().getUsername()}"></span> </h2>
                        </p> 
                    </div>
                    <div class="col-1-8 padding align-right header-txt"></div>
                    <div class="col-1-4 padding align-right header-txt">
                        <p><a href="/SGDADMIN/menu" class="ui-buttonhome ui-botton-menu"></a>
                        </p>
                    </div>    
                    <div class="col-1-8 padding align-right">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Cerrar sesión" class="header-btn bg-transparent "/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
        <div class="row header center bg-transparent">
            <h1>AGROPARQUE GANADERO DEL SURESTE</h1>
            <h1>ARCHIVO DIGITAL</h1>
        </div>        
        <div><br><br></div>
        <div class="contents bg-transparent">
            <div class="col-1-4 padding"></div>
            <div class="col-1-3">
                <div class="col padding">
                    <p><a href="/SGDADMIN/documentacionlegal" class="btn large solid gray-light menubutton">DOCUMENTACION LEGAL</a></p>
                    <p><a href="/SGDADMIN/contratosfirmados" class="btn large solid gray-light menubutton">CONTRATOS FIRMADOS</a></p>
                    <p><a href="/SGDADMIN/sagarpa" class="btn large solid gray-light menubutton">SAGARPA</a></p>
                    <p><a href="/SGDADMIN/gobiernocorporativo" class="btn large solid gray-light menubutton">GOBIERNO CORPORATIVO</a></p>
                    <p><a href="/SGDADMIN/facturasactivos" class="btn large solid gray-light menubutton">FACTURAS DE ACTIVOS</a></p>
                    <p><a href="/SGDADMIN/avaluoactivos" class="btn large solid gray-light menubutton">AVALUO DE ACTIVOS</a></p>
                    <p><button onclick="getOrganigrama()" class="btn large solid gray-light menubutton">ESTRUCTURA | ORGANIGRAMAS</button></p>
                </div>             
                <div class="col padding">
                    <p><a href="/SGDADMIN/edosfinancieros" class="btn large solid gray-light menubutton">ESTADOS FINANCIEROS</a></p>
                    <p><a href="/SGDADMIN/reporteventas" class="btn large solid gray-light menubutton">REPORTE DE VENTAS MENSUAL</a></p>
                    <p><a href="/SGDADMIN/presentacionesCorporativas" class="btn large solid gray-light menubutton">PRESENTACIONES CORPORATIVAS</a></p>
                    <p><a href="/SGDADMIN/proyectoejecutivo" class="btn large solid gray-light menubutton">PROYECTO EJECUTIVO</a></p>
                    <p><a href="/SGDADMIN/seguros" class="btn large solid gray-light menubutton">SEGUROS</a></p>
                    <p><a href="/SGDADMIN/menu" class="btn large solid gray-light menubutton" disabled>TRAZABILIDAD</a></p>
                    <p><a href="/SGDADMIN/informacionindus" class="btn large solid gray-light menubutton">INFORMACION DE LA INDUSTRIA</a></p>
                </div>             
            </div>
            <br>
        </div>
        </div>
    </body>
</html>
